
.impact-section {
}

.impact-article {
    padding-block-start: 2%;
}

.sun-wrapper {
    position: relative;
}

 .sun-wrapper::before {
    content: '';
    background-image: url('https://png.pngtree.com/png-vector/20230325/ourmid/pngtree-summer-real-texture-sun-png-image_6667751.png');
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 65%;
    width: 100%;
    height: 100%;
    animation: rotate 4s linear;
    padding-block-end: 10%;
 }

 @keyframes rotate {
    from {
      transform: translateY(-40%) rotate3d(10deg) translateX(-10%) scale(0.9);
      opacity: 0;
    }
    to {
      transform: translateY(0%) rotate3d(0deg) translateX(0%) scale(1);
      opacity: 1;
    }
}


.gases {
    display: flex;
    flex-direction: column;
    padding-inline-start: 4%;
    padding-inline-end: 4%;
    font-size: 1.3rem;
    position:relative;
}

/* .gases > div::before {
    content: '';
    /* background-image: url('https://i.gifer.com/2iiG.gif'); 
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcW1rbXg4eWE4dGJjbTF0amk5ZXFvdWV6YzcwdTk1ODB2d2x6a21xZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ftfVpeWsm95QgGfOZ8/giphy.webp');
    /* background-color: rgba(0, 0, 0, 0.623); 
    mix-blend-mode:soft-light;
    z-index:-1;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.gases > div {
    border: 1px solid rgb(77, 20, 74);
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    width: 58%;
    line-height: 3.4vh;
    height: 30vh;
    margin:0.5%;
    padding:1%;
    transition: background-color 200ms 40ms linear;overflow:none;
    mix-blend-mode:difference;
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcW1rbXg4eWE4dGJjbTF0amk5ZXFvdWV6YzcwdTk1ODB2d2x6a21xZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ftfVpeWsm95QgGfOZ8/giphy.webp');
}

.gases > div:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.gases > div:nth-child(even) {
    align-self: self-end;
}

/* gas title */
.gases > div > span:first-of-type {
    padding-inline-start: 7%;
    padding-inline-end: 7%;
    background-color: rgba(240, 248, 255, 0.116);
    letter-spacing: 0.5vw;
    line-height: 5vh;
    font-weight: 500;
    transition: letter-spacing 400ms 40ms linear;
}

.gases > div:hover > span:first-of-type {
    letter-spacing: 0.6vw;
}

.impact-article .description:last-of-type {
    width: 60%;
    margin-block-start: 2%;
    margin-inline-start: 4%;
    font-size: 1.7rem;
}
