@media (min-width: 1280px) {
    .gif-div {
    display: flex;
    place-items: center center;
}

.intro-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-article h1 {
    letter-spacing: 3.9vw;
  }

.intro-text {
    margin-block-end: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    opacity: 0;
    transition: opacity 1200ms ease;
    /* border:1px solid purple; */
}
  }
  /* --------------------------------------end desktop---------------- */
  /* ---------------------------------------------------------------- */
  /* --------------------------------------mid-large------------------- */
  
  @media (min-width: 880px) and (max-width: 1280px) {
    .gif-div {
    display: flex;
    place-items: center center;
}

.intro-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-article h1 {
    letter-spacing: 3.9vw;
  }

.intro-text {
    margin-block-end: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    opacity: 0;
    transition: opacity 1200ms ease;
    /* border:1px solid purple; */
}
  }
  /* --------------------------------------end mid-large---------------- */
  /* ---------------------------------------------------------------- */
  /* --------------------------------------mid------------------- */
  
  @media (min-width: 403px) and (max-width: 880px) {
    .gif-div {
    display: flex;
    place-items: center center;
}

.intro-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-article h1 {
    letter-spacing: 3.9vw;
  }

.intro-text {
    margin-block-end: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    opacity: 0;
    transition: opacity 1200ms ease;
    /* border:1px solid purple; */
}
  }
  /* --------------------------------------end mid---------------- */
  /* ---------------------------------------------------------------- */
  /* --------------------------------------mobile------------------- */
  
  @media (max-width: 403px) {
    .gif-div {
    display: flex;
    place-items: center center;
}

.intro-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-article h1 {
    letter-spacing: 3.9vw;
  }

.intro-text {
    margin-block-end: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    opacity: 0;
    transition: opacity 1200ms ease;
    /* border:1px solid purple; */
}
      
  }
  /* --------------------------------------end mobile---------------- */
  /* ---------------------------------------------------------------- */


/* apply soft appearance style */
.fade-in {
    opacity: 1;
  }


