.profile-section {
    position: relative;
}

.top-profile h1 {
    margin-bottom: 10%;
}

/* middle profile */
.middle-profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile-buttons {
    width: 35%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 1rem;
    background: linear-gradient(146deg, rgba(46, 45, 45, 0.6) 6%, rgba(122,122,122,0.3) 60%, rgba(112, 112, 112, 0.8) 100%);
}

.profile-buttons > div {
    width: 45%;
    margin-inline-start: 2%;
    margin-block-end: 2%;
    margin-block-start: 2%;
}

.consent-popup {
    border: 1px solid slateblue;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 40vh;
    background-color: #101930b4;
    backdrop-filter: invert(80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 3rem;
    gap: 5px;
}

.pop-buttons {
    display: flex;
    gap: 5%;
}

.account-days {
    width: 35%;
    text-align: end;
    font-size: 6rem;
    padding-inline-end: 10%;
}

.account-days > span {
    font-size: 8rem;
}

.since-joining {
    text-align: end;
    font-size: 4rem;
    padding-inline-end: 18%;
}
