.comment-section {
    /* border: 1px solid crimson; */
}

.all-comments-container {
    /* border: 1px solid sandybrown; */
    width: 100%;
}

.comment-list {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    width: inherit;
    max-height: 30vh;
    padding:0;
    scroll-behavior: smooth;
    scrollbar-color: rgba(51,51,51,0.2) transparent;
    transition: scrollbar-color 300ms 40ms linear;
}

.comment-list:hover {
    scrollbar-color: rgba(51,51,51,0.6) rgba(51,51,51,0.3);
}

.comment-list li {
    border-top: 2px solid rgba(51,51,51,0.6);
    background: linear-gradient(146deg, rgba(46, 45, 45, 0.6) 6%, rgba(122,122,122,0.3) 60%, rgba(112, 112, 112, 0.1) 100%);
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 25vh;
    border-radius: 0.5rem;
}

.comment-top {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
}

.comment-bottom {
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.comment-text {
    width: 70%;
    border: 1px solid rgba(122,122,122,0.3);
    border-right: 1px transparent;
    text-align: start;
    padding-left: 5%;
    background-color: unset;
    transition: background-color 300ms 40ms linear;
}

.comment-text:hover {
    background-color: rgba(122,122,122,0.2);
}

.update-comment-form {
    /* border: 1px solid red; */
    display: flex;
    gap:10px;
    align-items: end;
}

.update-comment-textarea {
    border: 1px solid transparent;
    background-color: inherit;
    font-size: 1.2rem;
    padding-top: 5%;
}

.update-comment-textarea:focus {
    outline:  1px solid rgb(255, 255, 255);
}

.button-container {
    width: 25%;
    /* border: 1px solid red; */
    display: flex;
    gap: 1vh;
    flex-direction: column;
}

