@media (min-width: 1280px) {
    .overlay {
        z-index: 2;
        position: absolute;
        background-color: lime;
        width: 100%;
        height: 100vh;
        display: none;
    }

    .burger-icon {
        z-index: 3;
        display: none;
        font-size: unset;
    }

    nav {
    background: linear-gradient(146deg, rgba(255,255,255,0) 0%, rgba(51,51,51,0.25) 51%, rgba(239,244,255,0) 100%);
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.authcheck {
    display: flex;
    place-items: center center;
    font-size: 1.2rem;
}
  }
  /* --------------------------------------end desktop---------------- */
  /* ---------------------------------------------------------------- */
  /* --------------------------------------mid-large------------------- */
  
  @media (min-width: 880px) and (max-width: 1280px) {
    .overlay {
        z-index: 2;
        position: absolute;
        background-color: lime;
        width: 100%;
        height: 100vh;
        display: none;
    }

    .burger-icon {
        z-index: 3;
        display: none;
        font-size: unset;
    }

    nav {
    background: linear-gradient(146deg, rgba(255,255,255,0) 0%, rgba(51,51,51,0.25) 51%, rgba(239,244,255,0) 100%);
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.authcheck {
    display: flex;
    place-items: center center;
    font-size: 1.2rem;
}
  }
  /* --------------------------------------end mid-large---------------- */
  /* ---------------------------------------------------------------- */
  /* --------------------------------------mid------------------- */
  
  @media (min-width: 403px) and (max-width: 880px) {
    .overlay {
        z-index: 2;
        position: absolute;
        background-color: lime;
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .burger-icon {
        z-index: 3;
        display: flex;
        font-size: 2.5rem;
    }

    nav {
    background: linear-gradient(146deg, rgba(255,255,255,0) 0%, rgba(51,51,51,0.25) 51%, rgba(239,244,255,0) 100%);
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

ul {
    display: none;
    justify-content: space-evenly;
    width: 60%;
}

ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.authcheck {
    display: flex;
    place-items: center center;
    font-size: 1.2rem;
}
  }
  /* --------------------------------------end mid---------------- */
  /* ---------------------------------------------------------------- */
  /* --------------------------------------mobile------------------- */
  
  @media (max-width: 403px) {
    .overlay {
        z-index: 2;
        position: absolute;
        background-color: lime;
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .burger-icon {
        z-index: 3;
        display: flex;
        font-size: 2rem;
    }

    nav {
    background: linear-gradient(146deg, rgba(255,255,255,0) 0%, rgba(51,51,51,0.25) 51%, rgba(239,244,255,0) 100%);
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}

ul {
    display: none;
    justify-content: space-evenly;
    width: 60%;
}

ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

.authcheck {
    display: flex;
    place-items: center center;
    font-size: 1.2rem;
}
      
  }
  /* --------------------------------------end mobile---------------- */
  /* ---------------------------------------------------------------- */
  
  

