nav {
    border: 1px solid purple;
    display: inline-flex;
    width: 90vw;
    justify-content: space-evenly;
}

ul {
    border: 1px solid green;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.authcheck {
    border: 1px solid red;
    display: flex;
    place-items: center center;
}