@media (min-width: 1280px) {
    .fundraiser-container {
    /* border: 1px solid rgba(148, 148, 148, 0.555); */
    background-color: rgba(250, 235, 215, 0.25);
    border-top-left-radius: 2em; 
    border-top-right-radius: 2em; 
    text-align: center;
    font-size: 1.1rem;
    transition: background-color 300ms 40ms linear;
}
  }
  /* --------------------------------------end desktop---------------- */
  /* ---------------------------------------------------------------- */
  /* --------------------------------------mid-large------------------- */
  
  @media (min-width: 880px) and (max-width: 1280px) {
    .fundraiser-container {
    /* border: 1px solid rgba(148, 148, 148, 0.555); */
    background-color: rgba(250, 235, 215, 0.25);
    border-top-left-radius: 2em; 
    border-top-right-radius: 2em; 
    text-align: center;
    font-size: 1.1rem;
    transition: background-color 300ms 40ms linear;
}
  }
  /* --------------------------------------end mid-large---------------- */
  /* ---------------------------------------------------------------- */
  /* --------------------------------------mid------------------- */
  
  @media (min-width: 403px) and (max-width: 880px) {
    .fundraiser-container {
    /* border: 1px solid rgba(148, 148, 148, 0.555); */
    background-color: rgba(250, 235, 215, 0.25);
    border-top-left-radius: unset; 
    border-top-right-radius: unset; 
    text-align: center;
    font-size: 1.1rem;
    transition: background-color 300ms 40ms linear;
}
  }
  /* --------------------------------------end mid---------------- */
  /* ---------------------------------------------------------------- */
  /* --------------------------------------mobile------------------- */
  
  @media (max-width: 403px) {
    .fundraiser-container {
    /* border: 1px solid rgba(148, 148, 148, 0.555); */
    background-color: rgba(250, 235, 215, 0.25);
    border-top-left-radius: unset; 
    border-top-right-radius: unset; 
    text-align: center;
    font-size: 1.1rem;
    transition: background-color 300ms 40ms linear;
}
      
  }
  /* --------------------------------------end mobile---------------- */
  /* ---------------------------------------------------------------- */


.fundraiser-container:hover {
    background-color: rgba(250, 235, 215, 0.4);
}

.fundraiser-container a {
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 0.2vw;
    text-shadow: 1px 1px 2px rgb(4, 63, 224);
}

.fundraiser-container a:hover {
    color: rgb(255, 255, 255);
}